In [1]:
# importing required libraries for EDA
# the main aim is to understand data in better way

import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 
import warnings
warnings.filterwarnings('ignore')

In [8]:
#Importing Dataset 
data = pd.read_csv(r"Travel.csv")
pd.set_option('display.max_columns',None)

In [9]:
data.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [12]:
data.shape
# dataset has 4888 rows and 20 columns

(4888, 20)

In [16]:
# getting feature datatypes
data.dtypes

CustomerID                    int64
ProdTaken                     int64
Age                         float64
TypeofContact                object
CityTier                      int64
DurationOfPitch             float64
Occupation                   object
Gender                       object
NumberOfPersonVisiting        int64
NumberOfFollowups           float64
ProductPitched               object
PreferredPropertyStar       float64
MaritalStatus                object
NumberOfTrips               float64
Passport                      int64
PitchSatisfactionScore        int64
OwnCar                        int64
NumberOfChildrenVisiting    float64
Designation                  object
MonthlyIncome               float64
dtype: object

# Observations

There is total 4888 rows and 20 columns.
There is total 3 data types float64, int64 and object.

In [ ]:
Seperating Numerical and Categorical Data

# creating numerical dataframe

In [26]:
Numerical_features = [feature for feature in data.columns if data[feature].dtypes !="O" and feature not in ['CustomerID']]
data_numerical = data[Numerical_features]
data_numerical.head()

,ProdTaken,Age,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,MonthlyIncome
0,1,41.0,3,6.0,3,3.0,3.0,1.0,1,2,1,0.0,20993.0
1,0,49.0,1,14.0,3,4.0,4.0,2.0,0,3,1,2.0,20130.0
2,1,37.0,1,8.0,3,4.0,3.0,7.0,1,3,0,0.0,17090.0
3,0,33.0,1,9.0,2,3.0,3.0,2.0,1,5,1,1.0,17909.0
4,0,NaN,1,8.0,2,3.0,4.0,1.0,0,5,1,0.0,18468.0

# Discrete Numerical features

In [29]:
discrete_features=[feature for feature in Numerical_features if len(data_numerical[feature].unique())<25]

In [30]:
discrete_features

['ProdTaken',
 'CityTier',
 'NumberOfPersonVisiting',
 'NumberOfFollowups',
 'PreferredPropertyStar',
 'NumberOfTrips',
 'Passport',
 'PitchSatisfactionScore',
 'OwnCar',
 'NumberOfChildrenVisiting']

# Continuous Numerical features

In [31]:
Continuous_features=[feature for feature in Numerical_features if len(data_numerical[feature].unique())>25]

In [33]:
Continuous_features

['Age', 'DurationOfPitch', 'MonthlyIncome']

In [34]:
Categorical_features = [feature for feature in data.columns if data[feature].dtypes =="O" and feature not in ['CustomerID']]
data_numerical = data[Categorical_features]
data_numerical.head()

,TypeofContact,Occupation,Gender,ProductPitched,MaritalStatus,Designation
0,Self Enquiry,Salaried,Female,Deluxe,Single,Manager
1,Company Invited,Salaried,Male,Deluxe,Divorced,Manager
2,Self Enquiry,Free Lancer,Male,Basic,Single,Executive
3,Company Invited,Salaried,Female,Basic,Divorced,Executive
4,Self Enquiry,Small Business,Male,Basic,Divorced,Executive

In [37]:
# Getting unique categories for each features in categorical features

for feature in Categorical_features:
    print("The feature is '{}' and number of categories are '{}'".format(feature, len(data[feature].unique())))

The feature is 'TypeofContact' and number of categories are '3'
The feature is 'Occupation' and number of categories are '4'
The feature is 'Gender' and number of categories are '3'
The feature is 'ProductPitched' and number of categories are '5'
The feature is 'MaritalStatus' and number of categories are '4'
The feature is 'Designation' and number of categories are '5'

# Misssing values

In [43]:
# getting features with missing values

feature_nan=[feature for feature in data.columns if data[feature].isnull().sum()>1 ]
print(feature_nan)

['Age', 'TypeofContact', 'DurationOfPitch', 'NumberOfFollowups', 'PreferredPropertyStar', 'NumberOfTrips', 'NumberOfChildrenVisiting', 'MonthlyIncome']

In [46]:
# getting count of missing values for individual features

for feature in feature_nan:
    print("{} has {} no. of missing values".format(feature, data[feature].isnull().sum()))

Age has 226 no. of missing values
TypeofContact has 25 no. of missing values
DurationOfPitch has 251 no. of missing values
NumberOfFollowups has 45 no. of missing values
PreferredPropertyStar has 26 no. of missing values
NumberOfTrips has 140 no. of missing values
NumberOfChildrenVisiting has 66 no. of missing values
MonthlyIncome has 233 no. of missing values

In [48]:
# getting count of missing values for individual features

for feature in feature_nan:
    print("{} has {} no. of missing values".format(feature, data[feature].isnull().sum()))

Age has 226 no. of missing values
TypeofContact has 25 no. of missing values
DurationOfPitch has 251 no. of missing values
NumberOfFollowups has 45 no. of missing values
PreferredPropertyStar has 26 no. of missing values
NumberOfTrips has 140 no. of missing values
NumberOfChildrenVisiting has 66 no. of missing values
MonthlyIncome has 233 no. of missing values